.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Ingredients {
  color: #555;
  text-transform: capitalize;
  display: inline-block;
  margin: 0 8px;
  border: 2px solid #eee;
  border-radius: 8px;
  padding: 5px;
}
